@import "tailwindcss";
@plugin "daisyui";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.p-4 {
  padding: 5px;
}

.mt-1 {
  margin-top: 4px;
}

.p-10 {
  padding: 40px;
}

.my-2 {
  margin-block: calc(var(--spacing) * 2)
}