@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(56, 101, 155, 0.959), rgba(0, 0, 0, .6)), url(http://img.freepik.com/free-photo/illuminated-city_1112-868.jpg?t=st=1750916873~exp=1750920473~hmac=1e6284ab4ce79a09e6fe4dd1804146bf2dcc475ab0bac13d3f95d9b8de488fd6&w=1380);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.timer-container {
  min-width: 400px;
  padding: 30px;
  border-radius: 6px;
  text-align: center;
}

.timer-container h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Heading {
  color: #fff;
  position: relative;
}

.Heading h1 {
  position: fixed;
  top: 3rem;
  left: 3rem;
  font-family: "Edu QLD Hand", cursive;
  font-optical-sizing: auto;
  font-size: 2rem;
  text-transform: lowercase;
}

span {
  position: fixed;
  top: 6.7rem;
  left: 14rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.timer-display {
  font-size: 7rem;
  font-weight: bold;
  color: #fff;
  margin: 20px 0;
}

.timer-container button {
  padding: 10px 30px;
  margin: 10px 8px;
  font-size: 1.1rem;
  font-weight: 600;
  background-image: linear-gradient(180deg, #fff, #f5f5fa);
  color: #101010;
  border: 2px solid transparent;
  /* ✅ FIXED */
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.timer-container button:hover {
  background: transparent;
  border: 2px solid white;
  color: white;
}

/*-------- Animation --------*/

.timer-display p {
  animation: pop 0.4s ease;
}

@keyframes pop {
  0% {
    transform: scale(1.2);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.timer-display p {
  animation: fadeIn 0.5s ease-in;
}

/* -------- Responive----------- */

@media (max-width: 500px) {
  .timer-container {
    min-width: 90%;
    padding: 20px;
  }

  .timer-display {
    font-size: 4rem;
  }

  .timer-container button {
    padding: 8px 20px;
    font-size: 0.9rem;
    margin: 8px 5px;
  }

  .Heading h1 {
    top: 1.5rem;
    left: 1rem;
    font-size: 1.5rem;
  }

  span {
    top: 4rem;
    left: 9rem;
    font-size: 1rem;
  }
}