* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
  border: 2px solid black;
  padding: 2.4rem;
  border-radius: 10px;
  line-height: 2rem;
}