* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.passbox {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.passwordBoxInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.passwordBoxInput input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.passwordBoxInput button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.passwordBoxInput button:hover {
  background-color: #45a049;
}

.passwordLenght {
  margin-bottom: 20px;
}

.passwordLenght label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.passwordLenght input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.btn {
  border: none;
  padding: 10px 20px;
  background-color: #45a049;
  color: white;
  border-radius: 5px;
}