@import "tailwindcss";

body {
    background-color: #ffdede5f;
}

.card {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 8px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: move;
    transition: transform 0.3s ease;
    width: 18rem;
}

.card:hover {
    transform: scale(1.05);
}

.bin-container {
    margin-top: 20px;
}

.bin {
    background-color: #f3f3f3;
    border: 2px dashed #aaa;
    padding: 20px;
    text-align: center;
    min-height: 150px;
}

.bin h2 {
    font-size: 20px;
    font-weight: bold;
}