@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.navbar-light .navbar-toggler {
    border-color: red;
    border-radius: 2px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='red' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar h1 {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar .nav-link {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.news-card {
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    border-radius: 12px;
    overflow: hidden;
}

.news-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

header .nav-link {
    cursor: pointer;
}

header .nav-link:hover {
    color: #dc3545;
}


.subscribeBtn {
    border: none;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    font-size: 1.1rem;
}

.subscribeBtn:hover {
    transition: 0.3s ease-in-out;
    background-color: #dc3545;
}