* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e7deb5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 685px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
    font-size: 2rem;
}

p {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}

.container_middle {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.right,
.left {
    flex: 1;
    background: #f1f1f1;
    border-radius: 8px;
    padding: 15px;
}

.btn_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    margin-bottom: 15px;
}

.date {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


h2 {
    margin-top: 10px;
    color: #555;
    text-align: center;
}

.container_fluid {
    text-align: center;
    margin-bottom: 10px;
}

.container_fluid h1 {
    color: #007bff;
}

.age_heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.btn_age {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,
        transform 0.15s ease;
    will-change: box-shadow,
        transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
        0px 7px 13px -3px rgb(45 35 66 / 30%),
        inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,
        transform 0.15s ease;
}

.btn_age:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

.btn_age:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

.para {
    color: #505050;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


input[type="date"] {
    background: #F4F9FF;
    border: 2px solid #DEDEDE;
    padding: 1rem;
    font-family: "Roboto Mono", monospace;
    color: #000000;
    font-size: 18px;
    width: 230px;
    outline: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .container_middle {
        flex-direction: column;
    }

    .btn_div {
        flex-wrap: wrap;
    }

    .container {
        margin: 12px;
        padding: 5px;
    }
}