* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  width: 310px;
  padding: 1.2rem;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #556e8d;
}

svg {
  font-size: 1.5rem;
  color: #082a54;
}

h1 {
  text-align: center;
  color: #171a1d;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* FormDetails Css */

.success-container {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  padding: 20px;
  max-width: 500px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #4CAF50;
  font-size: 2rem;
  margin-bottom: 20px;
}

hr {
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

span {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 10px;
  display: block;
}

br {
  margin-bottom: 10px;
}