:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

div {
  font-family: Arial, sans-serif;
}

.top-content {
  text-align: center;
}

input[type="text"] {
  margin: 20px;
  font-size: 1.4rem;
  width: 300px;
  padding: 0.6rem;
  border: 2px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease-in-out;

}

input[type="text"]:focus {
  border-color: #007bff;
}

ul {
  list-style-type: none;
  margin: 10px 0 0;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 1.2rem;
}

li:hover {
  background-color: #f1f1f1;
}

h1 {
  font-size: 18px;
  color: #555;
}