* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}


.top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  font-family: Arial, sans-serif;
}

input[name="search-user"] {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease;
}

input[name="search-user"]:focus {
  border-color: #3498db;
}

.dropdown-menu {
  width: 100%;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  position: relative;
}

.loader {
  display: block;
  margin: 10px auto;
  width: 40%;
}

.suggest-container ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.suggest-container li {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  margin: 10px;
}

.suggest-container li:hover {
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
}

.footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
}