* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loan-calc {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.loan-calc h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.inputes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.inputes p {
  font-size: 16px;
  color: #555;
  margin: 0;
}

.inputes input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.inputes input:focus {
  border-color: #0056b3;
}

.output {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 480px) {
  .loan-calc {
    padding: 20px;
  }

  .loan-calc h1 {
    font-size: 20px;
  }

  .inputes input {
    font-size: 14px;
  }

  .output {
    font-size: 16px;
  }
}